<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login Page</title>
</head>
<body>
    <form method="post" action="/login">
    <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-700" type="email" placeholder="email" name="email">
    <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-700" type="password" placeholder="password" name="password">
    <input class="bg-blue-400 rounded-md px-3 py-3" type="submit" value="Login" >
</form>
</body>
</html>